<!-- Footer -->
<footer class="page-footer font-small indigo fixed-bottom">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">
                <button class="btn btn-link text-white" style="color:white !important">Site Map</button>
                <p class="text-white d-inline"> | </p>
                <button class="btn btn-link text-white" style="color:white !important"
                    [routerLink]="['/about', 'privacy_policy']">Privacy
                    Policy</button>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-6 mb-md-0 text-center text-md-right ">

                <!-- Content -->
                <a href="https://twitter.com/ISQED" class="logo"><i class="fab fa-twitter"></i></a>
                <a href="https://twitter.com/ISQED" class="logo ml-3 my-auto"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/ISQED" class="logo ml-3"><i class="fab fa-github"></i></a>
                <a href="https://twitter.com/ISQED" class="logo ml-3"><i class="fab fa-linkedin"></i></a>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 ISQED Copyright.
        <a href="https://mdbootstrap.com/education/angular/"> All rights reserved.</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->