<!-- <h5 class="text-primary">About the ISQED</h5>
<p>Membership in ISQED is free for technical experts worldwide. If you are interested in becoming an ISQED
    committee member, please send your request, with your complete contact information(email, phone number,
    and address)
    along witha copy of your resume to <a href="mailto: info@ISQED.com">info@ISQED.com</a>
</p> -->

<h2 class="text-center text-primary form-group">Membership</h2>
<p class="form-group text-center">Plans for techincal experts worldwide</p><br>

<div class="row form-group">
    <div class="col-md-4">
        <mat-card class="w-75 text-center pb-4">
            <div class="header">
                <h3>Individual</h3>
                <p>The basics of isQED for every techincal experts</p>
                <h5><strong>Free</strong></h5>
                <p><strong>$0 Per month</strong></p>
            </div>


            <img mat-card-image src="http://pluspng.com/img-png/user-png-icon-male-user-icon-512.png"
                alt="Photo of a Shiba Inu">

            <mat-card-content>
                <mat-list>
                    <mat-list-item>Item 1</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Item 2</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Item 3</mat-list-item>
                </mat-list>
            </mat-card-content>
            <mat-card-actions class="text-center form-group">
                <button mat-raised-button class="bg-primary text-white" [routerLink]="['/signup']">Register</button>
            </mat-card-actions>
        </mat-card>
    </div>


    <div class="col-md-4">
        <mat-card class="w-75 text-center pb-4">
            <div class="header">
                <h3>Individual</h3>
                <p>The basics of isQED for every techincal experts</p>
                <h5><strong>Free</strong></h5>
                <p><strong>$0 Per month</strong></p>
            </div>


            <img mat-card-image src="http://pluspng.com/img-png/user-png-icon-male-user-icon-512.png"
                alt="Photo of a Shiba Inu">

            <mat-card-content>
                <mat-list>
                    <mat-list-item>Item 1</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Item 2</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Item 3</mat-list-item>
                </mat-list>
            </mat-card-content>
            <mat-card-actions class="text-center form-group">
                <button mat-raised-button class="bg-primary text-white" [routerLink]="['/signup']">Register</button>
            </mat-card-actions>
        </mat-card>
    </div>
    
    <div class="col-md-4">
        <mat-card class="w-75 text-center pb-4">
            <div class="header">
                <h3>Individual</h3>
                <p>The basics of isQED for every techincal experts</p>
                <h5><strong>Free</strong></h5>
                <p><strong>$0 Per month</strong></p>
            </div>


            <img mat-card-image src="http://pluspng.com/img-png/user-png-icon-male-user-icon-512.png"
                alt="Photo of a Shiba Inu">

            <mat-card-content>
                <mat-list>
                    <mat-list-item>Item 1</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Item 2</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Item 3</mat-list-item>
                </mat-list>
            </mat-card-content>
            <mat-card-actions class="text-center form-group">
                <button mat-raised-button class="bg-primary text-white" [routerLink]="['/signup']">Register</button>
            </mat-card-actions>
        </mat-card>
    </div>



</div>
<br>