<div class="row justify-content-center my-auto" style="height: 100%">
    <mdb-stepper #stepper linear="true" class="w-50 my-auto">
        <mdb-step name="Verfiy" [stepForm]="firstFormGroup">
            <p>the code is 123456</p>
            <h2>*Attempt: {{attempt}}</h2>
            <form [formGroup]="firstFormGroup">
                <div class="md-form">
                    <i class="fas fa-key prefix"></i>
                    <input type="text" class="form-control" mdbInput mdbValidate formControlName="code" maxlength="6"
                        id="verify_code" (input)="onActivationCodeChange($event.target.value)">
                    <label for="verify_code">Verify Code</label>

                    <div *ngFor="let validation of validation_messages.code">
                        <mdb-error class="error-message" *ngIf="firstFormGroup.get('code').hasError(validation.type) && (firstFormGroup.get('code').dirty ||
                            firstFormGroup.get('code').touched)">
                            {{validation.message}}</mdb-error>
                    </div>
                </div>
            </form>

            <div class="row text-center">
                <a (click)="resendPasscodeViaEmail()" class="text-primary col">Send New Code?</a>
            </div>

            <div class="row text-center">
                <button class="col" mdbBtn size="sm" color="primary" (click)="stepper.next()"
                    type="submit">Verify</button>
            </div>
        </mdb-step>
        <mdb-step name="Reset Password" [stepForm]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <div class="md-form">
                    <i (click)="hidePassword1 = !hidePassword1; hidePassword2=true" *ngIf="hidePassword1"
                        class="far fa-eye-slash prefix"></i>
                    <i (click)="hidePassword1 = !hidePassword1; ; hidePassword2=true" *ngIf="!hidePassword1"
                        class="far fa-eye prefix"></i>

                    <input formControlName='password' [type]="hidePassword1 ? 'password' : 'text'" class="form-control"
                        aria-describedby="materialRegisterFormPasswordHelpBlock" mdbInput mdbValidate required
                        id="password">
                    <label for="password">Password</label>

                    <!-- Validation error message -->
                    <div *ngIf="hidePassword1">
                        <div *ngFor="let validation of validation_messages.password">
                            <mdb-error class="error-message" *ngIf="secondFormGroup.get('password').hasError(validation.type) && (secondFormGroup.get('password').dirty ||
                            secondFormGroup.get('password').touched)">
                                {{validation.message}}</mdb-error>
                        </div>
                    </div>

                    <!-- show errors -->
                    <div *ngIf="!hidePassword1" class="text-left mt-2">
                        <!-- Lower case -->
                        <div for="lowercase">
                            <div class="d-inline text-success"
                                *ngIf="passwordStrengthValidator.passLowerCase(secondFormGroup.value.password)">
                                <mat-icon>check</mat-icon>
                                <!-- <mat-icon>close</mat-icon> -->
                                <p class="d-inline my-auto h-100">At Least 1 Lower Case Letter</p>
                            </div>

                            <div class="d-inline text-danger"
                                *ngIf="!passwordStrengthValidator.passLowerCase(secondFormGroup.value.password)">
                                <mat-icon>close</mat-icon>
                                <p class="d-inline my-auto h-100">At Least 1 Lower Case Letter</p>
                            </div>
                        </div>

                        <!-- Upper case -->
                        <div for="upper case">
                            <div class="d-inline text-success"
                                *ngIf="passwordStrengthValidator.passUpperCase(secondFormGroup.value.password)">
                                <mat-icon>check</mat-icon>
                                <!-- <mat-icon>close</mat-icon> -->
                                <p class="d-inline my-auto h-100">At Least 1 Upper Case Letter</p>
                            </div>

                            <div class="d-inline text-danger"
                                *ngIf="!passwordStrengthValidator.passUpperCase(secondFormGroup.value.password)">
                                <mat-icon>close</mat-icon>
                                <p class="d-inline my-auto h-100">At Least 1 Upper Case Letter</p>
                            </div>
                        </div>

                        <!-- Digit case -->
                        <div for="digit case">
                            <div class="d-inline text-success"
                                *ngIf="passwordStrengthValidator.passDigitCase(secondFormGroup.value.password)">
                                <mat-icon>check</mat-icon>
                                <!-- <mat-icon>close</mat-icon> -->
                                <p class="d-inline my-auto h-100">At Least 1 Number</p>
                            </div>

                            <div class="d-inline text-danger"
                                *ngIf="!passwordStrengthValidator.passDigitCase(secondFormGroup.value.password)">
                                <mat-icon>close</mat-icon>
                                <p class="d-inline my-auto h-100">At Least 1 Number</p>
                            </div>
                        </div>

                        <!-- Min Length -->
                        <div for="min length">
                            <div class="d-inline text-success"
                                *ngIf="passwordStrengthValidator.passMinLength(secondFormGroup.value.password)">
                                <mat-icon>check</mat-icon>
                                <!-- <mat-icon>close</mat-icon> -->
                                <p class="d-inline my-auto h-100">At Least 8 Characters In Length</p>
                            </div>

                            <div class="d-inline text-danger"
                                *ngIf="!passwordStrengthValidator.passMinLength(secondFormGroup.value.password)">
                                <mat-icon>close</mat-icon>
                                <p class="d-inline my-auto h-100">At Least 8 Characters In Length</p>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- confirm password -->
                <div class="md-form">
                    <i (click)="hidePassword2 = !hidePassword2; hidePassword1=true" *ngIf="hidePassword2"
                        class="far fa-eye-slash prefix"></i>
                    <i (click)="hidePassword2 = !hidePassword2; hidePassword1=true" *ngIf="!hidePassword2"
                        class="far fa-eye prefix"></i>

                    <input formControlName='confirm_password' [type]="hidePassword2 ? 'password' : 'text'"
                        class="form-control" aria-describedby="materialRegisterFormConfirmPasswordHelpBlock" mdbInput
                        mdbValidate required id="confirm_password">
                    <label for="confirm_password">Confirm Password</label>
                </div>
            </form>


            <button mdbBtn size="sm" color="primary" (click)="stepper.next()">CONTINUE</button>
            <button mdbBtn size="sm" color="secondary" (click)="stepper.previous()">BACK</button>
        </mdb-step>
        <mdb-step name="Complete" label="Step 3 label">
            <p class="pl-2">Finish!</p>
            <div class="step-actions">
                <button mdbBtn size="sm" color="primary" (click)="onSubmit()">SUBMIT</button>
            </div>
        </mdb-step>
    </mdb-stepper>
</div>