.body {
    margin-top: 120px;
    min-height: calc(100vh - 10g0px - 200px)
}

#contact_us_btn {
    position: fixed;
    bottom: 125px;
    right: 25px;
}

#contact_us_form {
    position: fixed;
    bottom: 150px;
    right: 25px;
    z-index: 1;
    width: 300px;
}