.body {
    margin-top: 125px;
    min-height: calc(100vh - 100px - 100px);
}

#contact_us_btn {
    position: fixed;
    bottom: 125px;
    right: 25px;
}

#contact_us_form {
    position: fixed;
    bottom: 150px;
    right: 25px;
    z-index: 1;
    width: 300px;
}

#header{
    height: 120px;
    padding: 0px;
}