.body1 {
    min-height: calc(100vh - 100px);
}

.body2 {
    margin-top: 100px;
    min-height: calc(100vh - 200px);
}

#contact_us_btn {
    position: fixed;
    bottom: 125px;
    right: 25px;
}

#contact_us_form {
    position: fixed;
    bottom: 150px;
    right: 25px;
    z-index: 1;
    width: 300px;
}

#header{
    height: 120px !important;
    padding: 0px;
}