<!-- Header -->
<app-landing-header ></app-landing-header>

<!-- Body Wthout banner -->
<app-landing-body></app-landing-body>


<!-- Contact US -->
<div>
    <button *ngIf="route != '/about/contact-us'" class="rounded-pill btn btn-large" mat-raised-button color="primary"
        id="contact_us_btn" (click)="openContactUsModal()">
        <i class="material-icons mr-2">mail_outline</i>
        <p class="d-inline">Contact Us</p>
    </button>
</div>


<!-- footer -->
<app-landing-footer id="footer"></app-landing-footer>