<!-- Material form subscription -->
<mdb-card>

    <mdb-card-header class="info-color white-text text-center py-4">
        <h5>
            <strong>Forgot Password</strong>
        </h5>
    </mdb-card-header>

    <!--Card content-->
    <mdb-card-body class="px-lg-5">

        <!-- Form -->
        <form class="text-center" style="color: #757575;">

            <!-- E-mai -->
            <div class="md-form">
                <input type="text" id="materialSubscriptionFormEmail" class="form-control" name="text" [(ngModel)]="text" mdbInput>
                <label for="materialSubscriptionFormEmail">E-mail</label>
                <p>Look at me! {{text}}</p>
            </div>

            <!-- Sign in button -->
            <button mdbBtn color="info" outline="true" rounded="true" block="true" class="z-depth-0 my-4 waves-effect"
                mdbWavesEffect type="submit">Request Reset Password</button>

            <!-- Log In -->
            <p>Already a member?
                <a (click)="openLogInModal()" class="text-primary">Log In</a>
            </p>

            <!-- Register -->
            <p>Not a member?
                <a (click)="openRegisterModal()" class="text-primary">Register</a>
            </p>
        </form>
        <!-- Form -->

    </mdb-card-body>

</mdb-card>
<!-- Material form subscription -->