<!-- Material form subscription -->
<mdb-card>

    <mdb-card-header class="info-color white-text text-center py-4">
        <h5>
            <strong>Forgot Password</strong>
        </h5>
    </mdb-card-header>

    <!--Card content-->
    <mdb-card-body class="px-lg-5">

        <!-- Form -->
        <form class="" style="color: #757575;" [formGroup]="forgot_password">

            <!-- E-mail -->
            <div class="md-form">
                <i class="fas fa-envelope prefix"></i>
                <input formControlName="email" type="email" id="forgot_email" class="form-control" mdbInput
                    mdbValidate>
                <label for="forgot_email">E-mail</label>

                <!-- Validation error message -->
                <div *ngFor="let validation of validation_messages.email">
                    <mdb-error class="error-message"
                        *ngIf="email.hasError(validation.type) && (email.dirty ||email.touched)"> {{validation.message}}
                    </mdb-error>
                </div>
            </div>

            <!-- Sign in button -->
            <button mdbBtn color="info" outline="true" rounded="true" block="true" class="z-depth-0 my-4 waves-effect"
                mdbWavesEffect (click)="onSendMail()">Request Reset Password</button>

            <div class="text-center">
                <!-- Log In -->
                <p>Already a member?
                    <a (click)="openLogInModal()" class="text-primary">Log In</a>
                </p>

                <!-- Register -->
                <p>Not a member?
                    <a (click)="openRegisterModal()" class="text-primary">Register</a>
                </p>
            </div>
        </form>
        <!-- Form -->

    </mdb-card-body>

</mdb-card>
<!-- Material form subscription -->