<!-- Jumbotron -->
<div class="" >
    <div class="card card-image " id="top">
        <div class="text-white text-center rgba-stylish-strong py-5 px-4">
            <div class="py-5">

                <!-- Content -->
                <h2 class="card-title h2 my-4 py-2">
                    <mdb-icon far icon="handshake"></mdb-icon>
                    Let's Connect
                </h2>
                <p class="mb-4 pb-2 px-md-5 mx-md-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur
                    obcaecati vero aliquid libero doloribus ad, unde tempora maiores, ullam, modi qui quidem minima
                    debitis
                    perferendis vitae cumque et quo impedit.</p>

            </div>
        </div>
    </div>
</div>
<!-- Jumbotron -->

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <!-- Material form contact -->
            <div class="card">


                <!--Card content-->
                <div class="card-body px-lg-5 pt-0">

                    <!-- Form -->
                    <form class="text-center" style="color: #757575;">

                        <!-- Name -->
                        <div class="md-form mt-3">
                            <input type="text" id="materialContactFormName" class="form-control">
                            <label for="materialContactFormName">Name</label>
                        </div>

                        <!-- E-mail -->
                        <div class="md-form">
                            <input type="email" id="materialContactFormEmail" class="form-control">
                            <label for="materialContactFormEmail">E-mail</label>
                        </div>

                        <!--Message-->
                        <div class="md-form">
                            <textarea id="materialContactFormMessage" class="form-control md-textarea"
                                rows="3"></textarea>
                            <label for="materialContactFormMessage">Message</label>
                        </div>

                        <!-- Copy -->
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="materialContactFormCopy">
                            <label class="form-check-label" for="materialContactFormCopy">Send me a copy of this
                                message</label>
                        </div>

                        <!-- Send button -->
                        <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect"
                            type="submit">Send</button>

                    </form>
                    <!-- Form -->

                </div>

            </div>
            <!-- Material form contact -->
        </div>

        <div class="col-md-6">
            <!-- <agm-map [latitude]="map.lat" [longitude]="map.lng" style="height: 300px">
                <agm-marker [latitude]="map.lat" [longitude]="map.lng"></agm-marker>
            </agm-map> -->

            <!--Google map-->
            <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
                <iframe src="https://maps.google.com/maps?q=isQED&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                    style="border:0" allowfullscreen></iframe>
            </div>

            <!--Google Maps-->
        </div>

    </div>
</div>