.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

#top {
  background-image: url(https://mdbootstrap.com/img/Photos/Others/forest2.jpg);
  height: 100% !important;
}
