<mdb-card class="w-75 mx-auto">
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img [src]="getCard().img" alt="Card image cap">
        </mdb-card-img>
        <a>
            <div class="mask"></div>
        </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
            <h4>{{getCard().title}}</h4>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the
            card's
            content.
        </mdb-card-text>

        <!-- <button [routerLink]="cards[key].link" type="button" mdbBtn color="primary" mdbWavesEffect>Learn More</button> -->
        <button  [routerLink]="getCard().link" type="button" mdbBtn color="primary" mdbWavesEffect>Learn More</button>
    </mdb-card-body>
</mdb-card>I 