<div>
    <div id="main">
        <div class="container ">
            <div class="row" id="head">
                <div class="col-2 my-auto">
                    <img id="navbar-brand" class="w-100" src="assets/img/logo/ISQED_Society_logo.svgz" alt="">
                </div>
                <div class="col-1"></div>
                <div class="col-9 my-auto">
                    <h2 class="font-weight-bold text-white">ISQED</h2>
                    <h2 class="font-weight-bold text-white mb-4">Internation Conference</h2>
                    <h5 class="text-white mb-4">December 6 - 8, 2018</h5>

                    <div class="row">
                        <button type="button" class="col-4 form-control btn btn-primary btn-lg mb-4 rounded-pill">Register Now</button>
                    </div>
                    <h5 class="text-white">*Limited Seat Available</h5>
                </div>
            </div>
        </div>
    </div>
    <div  class="bg-white text-center mt-4">
        <h2 class="form-group font-weight-bold" style="color: #001958;">OUR CONFERENCE IN NUMBER</h2>
        <div class="row form-group">
            <div class="col-md-3 col-xs-6 form-group">
                <h5 class="text-gray">Country</h5>
                <h1 class="text-gray font-weight-bold">142</h1>
            </div>
            <div class="col-md-3 col-xs-6 form-group">
                <h5 class="text-gray">Ciites</h5>
                <h1 class="text-gray font-weight-bold">130</h1>
            </div>
            <div class="col-md-3 col-xs-6 form-group">
                <h5 class="text-gray">Speaker</h5>
                <h1 class="text-gray font-weight-bold">120</h1>
            </div>
            <div class="col-md-3 col-xs-6 form-group">
                <h5 class="text-gray">Attendees</h5>
                <h1 class="text-gray font-weight-bold">750+</h1>
            </div>
        </div>
    </div>
</div>


<!-- <div class="bg-secondary">
    <h1>Why attend ISQED?</h1>
    <p>The International Symposium on Quality Electronic Design (ISQED) is the premier Electronic Design
        conference—bridges
        the gap between Electronic/Semiconductor ecosystem members providing electronic design tools, integrated circuit
        technologies, semiconductor technology,packaging, assembly & test to achieve total design quality. ISQED is the
        leading conference for design for manufacturability (DFM) and quality (DFQ) issues. It provides a forum to
        exchange
        ideas and promote research, development, and application of design techniques & methods, design processes, and
        EDA
        design methodologies and tools that address issues which impact the quality of designs into physical integrated
        circuits. ISQED emphasizes a holistic approach toward design quality to highlight and accelerate cooperation
        among
        the IC Design, EDA, Semiconductor Process Technology and Manufacturing communities.</p>
    <br>
    <br>
    <p>This important three-day event is packed full of tutorials, keynote speeches, panel discussions, and in-depth
        technical sessions. The program will also feature the following:</p>
    <br>
    <br>
    <ul>
        <li>Embedded information-packed tutorials</li>
        <li>Keynotes by major industry & academia leaders and experts</li>
        <li>Latest trends in electronic design & automation, and semiconductor technologies</li>
        <li>Interact & network with the Experts and industry movers and shakers</li>
    </ul>
</div> -->