#main {
    margin-top: -40px;
    margin-right: -10px;
    min-height: calc(100vh - 10px - 200px + 30px);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../../../../assets/img/temp/image.png");
    border-style: none;
    padding: 10px;
}

#head {
    min-height: calc(100vh - 10px - 200px + 30px);
    /* align-items: center; */
}

.text-gray {
    color: #828282;
}

#main_box {
    background-color: rgba(215, 183, 253, 0.37) !important;
}