<div>

    <h3 class="text-primary form-group">Contact Us</h3>
    <h4 class="text-primary form-group">ISQED</h4>
    <div class="row">
        <div class="col">
            <p>P.O.Box 607</p>
            <p>Los Altos, CA 94023-0607 USA</p>

            <p>Tel:+1.408.573.0100</p>
            <p>Fax: +1.408.573.0200</p>
            <p>eFAX: +1.408.516.8228</p>
            <p>Email: info@ISQED.com</p>
        </div>

        <div class="col">
            <form class="w-100">
                <div class="row form-group">
                    <mat-form-field class="w-75">
                        <input matInput placeholder="Your First and Last Name"  required>
                    </mat-form-field>
                </div>

                <div class="row form-group">
                    <mat-form-field class="w-75">
                        <input matInput placeholder="Email"  required>
                    </mat-form-field>
                </div>

                <div class="row form-group">
                    <mat-form-field class="w-75">
                        <textarea matInput placeholder="Your Message" required></textarea>
                    </mat-form-field>
                </div>

                <!-- Submit -->
                <div class="row form-group">
                    <div class="w-75 text-right">
                        <button mat-raised-button color="primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>