
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-xl-2 col-lg-2 col-md-2 d-none d-md-block d-lg-block d-xl-block text-center form-group">
        <img class="w-75" src="assets/img/steering/asqed_skyscraper.png" alt="ISQED" class="SkyscraperAdvert" />
    </div>

    <div class="col-xl-8 col-lg-8 col-md-8" style="padding-top: 15px;">
        <div class="ml-4">
            <h5 class="text-primary">About the ISQED</h5>
            <p>Membership in ISQED is free for technical experts worldwide. If you are interested in becoming an ISQED
                committee member, please send your request, with your complete contact information(email, phone number, and address)
                along witha copy of your resume to <a href="mailto: info@ISQED.com">info@ISQED.com</a>
              </p>
            
        </div>
    </div>
</div>
