<div class="pt-2 fixed-bottom " id="footer">
    <div class="row">
        <div class="col-md-6 my-auto text-center text-md-left">
            <button [routerLink]="['/about', 'copy_right']" class="btn btn-link text-white">Copyright</button>
            <p class="text-white form-group d-inline">© 2019 ISQED. All rights reserved.</p>

            <div>
                <button class="btn btn-link text-white">Site Map</button>
                <p class="text-white d-inline"> | </p>
                <button class="btn btn-link text-white" [routerLink]="['/about', 'privacy_policy']">Privacy
                    Policy</button>
            </div>
        </div>

        <div class="col-md-6 my-auto text-center text-md-right">
            <div class="form-group mr-4">
                <!-- Twitter -->
                <a href="https://twitter.com/ISQED" class="logo"><i class="fab fa-twitter"></i></a>
                <a href="https://twitter.com/ISQED" class="logo ml-3"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/ISQED" class="logo ml-3"><i class="fab fa-github"></i></a>
                <a href="https://twitter.com/ISQED" class="logo ml-3"><i class="fab fa-linkedin"></i></a>
                
            </div>
        </div>

    </div>
</div>