<div class="jumbotron mb-0 text-center">
    <div class="form-group">
        <!-- Twitter -->
        <a href="https://twitter.com/ISQED" class="logo"><img class="logo-image" src="assets/footer/twitter.png"></a>
        <a href="https://twitter.com/ISQED" class="logo ml-4"><img class="logo-image" src="assets/footer/linkedin.png"></a>
        <a href="https://twitter.com/ISQED" class="logo ml-4"><img class="logo-image" src="assets/footer/facebook.png"></a>
        <a href="https://twitter.com/ISQED" class="logo ml-4"><img class="logo-image" src="assets/footer/instagram.png"></a>
        <a href="https://twitter.com/ISQED" class="logo ml-4"><img class="logo-image" src="assets/footer/youtube.png"></a>

    </div>
    <div class="form-group">
        <p><u>Copyright</u> © 2019 ISQED. All rights reserved.</p>
    </div>
</div>

<!-- https://www.iconfinder.com/iconsets/social-media-2235 -->