<div class="pt-4" id="footer">
    <div class="row">
        <div class="col-lg-4 my-auto text-md-center text-lg-left">
            <button [routerLink]="['/about', 'copy_right']" class="btn btn-link text-white">Copyright</button>
            <p class="text-white form-group d-inline">© 2019 ISQED. All rights reserved.</p>

            <div>
                <button class="btn btn-link text-white">Site Map</button>
                <p class="text-white d-inline"> | </p>
                <button class="btn btn-link text-white" [routerLink]="['/about', 'privacy_policy']">Privacy
                    Policy</button>
            </div>
        </div>

        <div class="col-lg-8 my-auto text-right">
            <div class="form-group mr-4">
                <!-- Twitter -->
                <a href="https://twitter.com/ISQED" class="logo"><img class="logo-image"
                        src="assets/footer/twitter.png"></a>
                <a href="https://twitter.com/ISQED" class="logo ml-4"><img class="logo-image"
                        src="assets/footer/linkedin.png"></a>
                <a href="https://twitter.com/ISQED" class="logo ml-4"><img class="logo-image"
                        src="assets/footer/facebook.png"></a>
                <a href="https://twitter.com/ISQED" class="logo ml-4"><img class="logo-image"
                        src="assets/footer/instagram.png"></a>
                <a href="https://twitter.com/ISQED" class="logo ml-4"><img class="logo-image"
                        src="assets/footer/youtube.png"></a>
            </div>
        </div>

        <div class="col-lg-4 text-md-center text-lg-right my-auto">

        </div>
    </div>
</div>