<form class="example-form" [formGroup]='user_form' (submit)="onSignIn()">
    <div class="form-group">
        <mat-form-field class="w-50">
            <input matInput type="email" matInput placeholder="Email" formControlName='email' required>

            <!-- Error for email -->
            <mat-error *ngFor="let validation of validation_messages.email">
                <mat-error class="error-message"
                    *ngIf="user_form.get('email').hasError(validation.type) && (user_form.get('email').dirty || user_form.get('email').touched)">
                    {{validation.message}}</mat-error>
            </mat-error>

        </mat-form-field>
    </div>

    <div class="form-group">
        <mat-form-field class="w-50">
            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"
                formControlName='password' required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>


            <!-- Error for password -->
            <mat-error *ngFor="let validation of validation_messages.password">
                <mat-error class="error-message"
                    *ngIf="user_form.get('password').hasError(validation.type) && (user_form.get('password').dirty || user_form.get('password').touched)">
                    {{validation.message}}</mat-error>
            </mat-error>
        </mat-form-field>
    </div>

    <div class="form-group">
        <button mat-raised-button class="btn-lg btn bg-primary text-white">Sign In</button>
    </div>

    <div class="form-group">
        <a href [routerLink]="['/signin/forgot_password']">Forgot Password?</a>
    </div>

    <div class="form-group">
        <a href [routerLink]="['/signup']">Create New Account?</a>
    </div>


</form>


<!-- Alert -->
<ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>