<div class="row">
    <div class="col-lg-2">
        <a href="http://www.isqed.com" target="_blank">
        <img src="assets/img/steering/asqed_skyscraper.png" alt="ISQED" class="SkyscraperAdvert" /></a>
    </div>

    <div class="col-lg-10" style="padding-top: 20px;">

        <h5 class="text-primary">About the ISQED</h5>
        <p>The <span class="font-weight-bold"> Society for Quality Electronic Design</span>(ISQED), established in 1998,
            is an international professional organization promoting innovation and Quality in electronic design and
            engineering design education. ISQED has produced, created, and organized over 33 conferences in the past 17
            years. Confernces and events produced by ISQED fall into 3 categories:</p>
        <ul>
            <li>
                Institutional technical conferences with pear-reviewed papers and proceedings.
            </li>
            <li>
                Business and Technology Conferences
            </li>
            <li>
                International Conferences and Events
            </li>
        </ul>
        <p>ISQED training cetification board consisting of industry members, audits, approves and certifies training
            programs to ensure suitability to the industry needs and job market requirements.</p>
    </div>
</div>