<div class="text-center">
  <h2 class="form-group">2 - Step Validation to {{command}}</h2>
  <p class="form-group">In order to access your account, you will need to verify your 6-digit sign-in code sent to you
      by email </p>
  <p class="form-group"><b>Email: </b> {{user.email}}</p>

  <br>
  <div class="form-group d-block">
      <mat-form-field class="w-50 ">
          <input matInput type="text" placeholder="6 Digits Activation Code"
              (input)="onActivationCodeChange($event.target.value)" pattern="\d*" [value]="activationCode"
              maxlength="6" required>
      </mat-form-field>
  </div>

  <div class="d-block form-group">
      <button mat-raised-button color="primary" class="form-group" (click)="checkValidation()">Verify</button>
  </div>

  <div class="d-block form-group">
      <button class="form-group btn-link btn" (click)="resendValidationCode()">Did not get the validation
          code?</button>
  </div>

</div>

<!-- Alert message -->
<ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
<ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>