<form [formGroup]='user_form' (submit)="onChangePassword()">

    <h2 class="form-group">Reset Password</h2>

    <div class="form-group" for="password">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <mat-form-field class="w-100">
                    <input matInput placeholder="Enter your password" [type]="hidePassword ? 'password' : 'text'"
                        formControlName='password' required>
                    <mat-icon matSuffix (click)="hideErrors = !hideErrors">
                        {{hideErrors ? 'report_off' : 'report'}}</mat-icon>
                    <mat-icon matSuffix (click)="hidePassword = !hidePassword; hideConfirm_Password = true">
                        {{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>


                </mat-form-field>

                <!-- Password Strength -->
                <mat-progress-bar mode="determinate"
                    [color]="passwordStrengthValidator.getColor(user_form.value.password)" class="bg-primary"
                    [value]="passwordStrengthValidator.getStrength(user_form.value.password)" style="margin-top:-20px;">
                </mat-progress-bar>

                <!-- Show errors -->
                <div *ngIf="!hideErrors" class="text-left mt-2">
                    <!-- Lower case -->
                    <div for="lowercase">
                        <div class="d-inline text-success"
                            *ngIf="passwordStrengthValidator.passLowerCase(user_form.value.password)">
                            <mat-icon>check</mat-icon>
                            <!-- <mat-icon>close</mat-icon> -->
                            <p class="d-inline my-auto h-100">At Least 1 Lower Case Letter</p>
                        </div>

                        <div class="d-inline text-danger"
                            *ngIf="!passwordStrengthValidator.passLowerCase(user_form.value.password)">
                            <mat-icon>close</mat-icon>
                            <p class="d-inline my-auto h-100">At Least 1 Lower Case Letter</p>
                        </div>
                    </div>

                    <!-- Upper case -->
                    <div for="upper case">
                        <div class="d-inline text-success"
                            *ngIf="passwordStrengthValidator.passUpperCase(user_form.value.password)">
                            <mat-icon>check</mat-icon>
                            <!-- <mat-icon>close</mat-icon> -->
                            <p class="d-inline my-auto h-100">At Least 1 Upper Case Letter</p>
                        </div>

                        <div class="d-inline text-danger"
                            *ngIf="!passwordStrengthValidator.passUpperCase(user_form.value.password)">
                            <mat-icon>close</mat-icon>
                            <p class="d-inline my-auto h-100">At Least 1 Upper Case Letter</p>
                        </div>
                    </div>

                    <!-- Digit case -->
                    <div for="digit case">
                        <div class="d-inline text-success"
                            *ngIf="passwordStrengthValidator.passDigitCase(user_form.value.password)">
                            <mat-icon>check</mat-icon>
                            <!-- <mat-icon>close</mat-icon> -->
                            <p class="d-inline my-auto h-100">At Least 1 Number</p>
                        </div>

                        <div class="d-inline text-danger"
                            *ngIf="!passwordStrengthValidator.passDigitCase(user_form.value.password)">
                            <mat-icon>close</mat-icon>
                            <p class="d-inline my-auto h-100">At Least 1 Number</p>
                        </div>
                    </div>


                    <!-- Special case -->
                    <div for="special case">
                        <div class="d-inline text-success"
                            *ngIf="passwordStrengthValidator.passSpecialCase(user_form.value.password)">
                            <mat-icon>check</mat-icon>
                            <!-- <mat-icon>close</mat-icon> -->
                            <p class="d-inline my-auto h-100">At Least 1 Special Character $@$!%*?&</p>
                        </div>

                        <div class="d-inline text-danger"
                            *ngIf="!passwordStrengthValidator.passSpecialCase(user_form.value.password)">
                            <mat-icon>close</mat-icon>
                            <p class="d-inline my-auto h-100">At Least 1 Special Character $@$!%*?&</p>
                        </div>
                    </div>

                    <!-- Min Length -->
                    <div for="min length">
                        <div class="d-inline text-success"
                            *ngIf="passwordStrengthValidator.passMinLength(user_form.value.password)">
                            <mat-icon>check</mat-icon>
                            <!-- <mat-icon>close</mat-icon> -->
                            <p class="d-inline my-auto h-100">At Least 8 Characters In Length</p>
                        </div>

                        <div class="d-inline text-danger"
                            *ngIf="!passwordStrengthValidator.passMinLength(user_form.value.password)">
                            <mat-icon>close</mat-icon>
                            <p class="d-inline my-auto h-100">At Least 8 Characters In Length</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><br>



        <div class="form-group" for="confirm_password">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Confirm your password" [type]="hideConfirm_Password ? 'password' : 'text'"
                            formControlName='confirm_password' required>
                        <mat-icon matSuffix (click)="hideConfirm_Password = !hideConfirm_Password">{{hideConfirm_Password ? 'visibility_off' : 'visibility'}}</mat-icon>


                        <!-- Error for confirm password -->
                        <mat-error *ngFor="let validation of validation_messages.confirm_password">
                            <mat-error class="error-message"
                                *ngIf="(user_form.get('confirm_password').hasError(validation.type) || user_form.hasError(validation.type))
                                && (user_form.get('confirm_password').dirty || user_form.get('confirm_password').touched)">
                                {{validation.message}}</mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>


    <div class="form-group" for="sign_up_btn">
        <button mat-raised-button class="btn-lg btn bg-primary text-white">Reset</button>
    </div>

</form>

<ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>