<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-2 text-center form-group">
        <img class="w-75" src="assets/img/privacy/Skyscraper_Advert_160x600.gif" alt="ISQED" class="SkyscraperAdvert" />
    </div>

    <div class="col-lg-8 form-group">
        <div class="ml-4">
            <h3 class="text-primary">Privacy Policy</h3>
            <h5 class="font-weight-bold"> International Society for Quality Electronic Design</h5>
            <mat-list role="list">
                <mat-list-item role="listitem">P.O.Box 607
                    <br>Los Altos, CA 94023 USA</mat-list-item>

                <mat-list-item role="listitem">Email: <a href="mailto:isged111@isged.com">isqed111@isqed.com</a>
                </mat-list-item>

                <mat-list-item role="listitem">
                    <p>For each visitor to our website, our webserver automatically
                        recognizes only the visitor’s domain
                        name, but not the e-mail address.</p>
                </mat-list-item>

                <mat-list-item role="listitem">
                    <p>We collect the e-mail addresses of those who communicate with us via e-mail and through
                        information volunteered by you, such as survey information, newsletter signups, business cards,
                        and site registrations.</p>
                </mat-list-item>

                <mat-list-item role="listitem">
                    <p>The information we collect is used by us to contact visitors for
                        marketing purposes. We may share this information with other Ethernet-related organizations so
                        they may tell you about products and/or services that could be of benefit to you.
                    </p>
                </mat-list-item>

                <mat-list-item role="listitem">
                    <p>If you do not want to receive e-mail from us in the future, e-mail,
                        call or write to us using the
                        above information, indicating that you do not want to receive e-mail from the ISQED.</p>
                </mat-list-item>

                <mat-list-item role="listitem">
                    <p>If you supply us with your postal address on-line, you may receive
                        periodic mailings from us with information on new products and services or upcoming events. If
                        you do not wish to receive such mailings, e-mail, call or write to us using the above
                        information.</p>
                </mat-list-item>

                <mat-list-item role="listitem">
                    <p>If you supply us with your postal address on-line, you may receive
                        periodic mailings from us with
                        information on new products and services or upcoming events. If you do not wish to receive such
                        mailings,
                        e-mail, call or write to us using the above information.</p>
                </mat-list-item>

                <mat-list-item role="listitem">
                    <p>Persons who supply us with their telephone numbers on-line may receive
                        telephone contact from us
                        with information regarding orders they have placed on-line. They also may receive telephone
                        contact
                        from us with information regarding new products and services or upcoming events. If you do not
                        wish to
                        receive such telephone calls, e-mail, call or write to us using the above information. Please
                        provide us with
                        your correct phone number.</p>
                </mat-list-item>
            </mat-list>

        </div>
    </div>
</div>