<div class="row">
    <div class="col-lg-2" style="padding-top:15px;">
      <a href="http://www.ASQED.com" target="_blank">
        <img src="assets/img/steering/asqed_skyscraper.png" alt="ASQED" class="SkyscraperAdvert" /></a>
    </div>

    <div class="col-lg-10" style="padding-top: 15px; font-size: 14px;">

      <h5 class="text-primary">Steering Committee</h5>

      <p><span class="font-weight-bold">Dr. Chi-Foon Chan</span>
        <br>ISQED Distinguished Fellow and Chair of the ISQED Steering Committee
        <br>President & COO
        <br>Synopsys</p>

      <p><span class="font-weight-bold">Dr. Bernard Courtois</span>
        <br>Director CMP-TIMA
        <br>Grenoble, France</p>

      <p><span class="font-weight-bold">Dr. Masahiro Fujita</span>
        <br>ISQED Japan Representative
        <br>University of Tokyo, Japan</p>

      <p><span class="font-weight-bold">Dr. Antonio Núñez</span>
      <br>Professor Dept. of Electrical Engineering
      <br>University of Las Palmas, Las Palmas, Spain</p>

      <p><span class="font-weight-bold">Joseph Sawicki</span>
      <br>Vice President and General Manager
      <br>Mentor Graphics</p>

      <p><span class="font-weight-bold">Dr. Ali Iranmanesh</span>
      <br>ISQED Founder & Chairman
      <br>CEO & Chairman
      <br>Silicon Valley Polytechnic Institute</p>
      
    </div>
</div>