<div id="main">
    <!-- Show on lg and xl -->
    <div class="d-none d-lg-block">
        <div class=" row my-auto full-screen-height">
            <!-- Trainning -->
            <div class="col-3  my-lg-auto">
                <!-- Card -->
                <app-landing-home-card key="training"></app-landing-home-card>
                
            </div>

            <!-- Certifications -->
            <div class="col-lg-3 col-md-6  my-sm-4 my-lg-auto">
                <!-- Card -->
                <app-landing-home-card key="certifications"></app-landing-home-card>
            </div>

            <!-- Events -->
            <div class="col-lg-3 col-md-6  my-sm-2 my-lg-auto">
                <!-- Card -->
                <app-landing-home-card key="events"></app-landing-home-card>
            </div>

            <!-- Publications -->
            <div class="col-lg-3 col-md-6  my-sm-2 my-lg-auto">
                <app-landing-home-card key="publications"></app-landing-home-card>
            </div>

        </div>
    </div>

    <!-- SHow on medium only -->
    <mdb-carousel [animation]="'slide'" class=" w-100 my-auto d-none d-md-block d-lg-none">
        <mdb-carousel-item class="w-100 my-auto" style="width: 100%;">
            <div class="row justify-content-md-center w-100 my-auto full-screen-height">
                <!-- Trainning -->
                <div class="col-6 my-auto">
                    <!-- Card -->
                    <app-landing-home-card key="training"></app-landing-home-card>
                </div>

                <!-- Certification -->
                <div class="col-6 my-auto">
                    <!-- Card -->
                    <app-landing-home-card key="certifications"></app-landing-home-card>
                </div>
            </div>
        </mdb-carousel-item>

        <mdb-carousel-item class="w-100 my-auto" style="width: 100%;">
            <div class="row justify-content-md-center w-100 my-auto full-screen-height">
                <!-- Events -->
                <div class="col-6 my-auto">
                    <!-- Card -->
                    <app-landing-home-card key="events"></app-landing-home-card>
                </div>

                <!-- Publications -->
                <div class="col-6 my-auto">
                    <!-- Card -->
                    <app-landing-home-card key="publications"></app-landing-home-card>
                </div>
            </div>
        </mdb-carousel-item>


    </mdb-carousel>

    <!-- SHow on smal only -->
    <mdb-carousel [animation]="'slide'" class=" w-100 my-auto d-block d-md-none">
        <!-- Trainning -->
        <mdb-carousel-item class="w-100 my-auto" style="width: 100%;">
            <div class="row justify-content-md-center w-100 my-auto full-screen-height">
                <div class="col my-auto">
                    <!-- Card -->
                    <app-landing-home-card key="training"></app-landing-home-card>>
                </div>
            </div>
        </mdb-carousel-item>

        <!-- Certification -->
        <mdb-carousel-item class="w-100 my-auto" style="width: 100%;">
            <div class="row justify-content-md-center w-100 my-auto full-screen-height">
                <!-- Trainning -->
                <div class="col my-auto">
                    <!-- Card -->
                    <app-landing-home-card key="certifications"></app-landing-home-card>
                </div>
            </div>
        </mdb-carousel-item>

        <!-- Events -->
        <mdb-carousel-item class="w-100 my-auto" style="width: 100%;">
            <div class="row justify-content-md-center w-100 my-auto full-screen-height">
                <div class="col my-auto">
                    <!-- Card -->
                    
                    <app-landing-home-card key="events"></app-landing-home-card>
                </div>
            </div>
        </mdb-carousel-item>

        <!-- Publications -->
        <mdb-carousel-item class="w-100 my-auto" style="width: 100%;">
            <div class="row justify-content-md-center w-100 my-auto full-screen-height">
                <div class="col my-auto">
                    <!-- Card -->
                    <app-landing-home-card key="publications"></app-landing-home-card>
                </div>
            </div>
        </mdb-carousel-item>
    </mdb-carousel>
</div>