<div class="row">
  <div class="col-lg-2" style="padding-top:15px;">
      <a href="http://www.sensorcon.org" target="_blank">
      <img src="assets/img/images-of-you/IOT_Summit_skyscraper.png" alt="IoT Summit" class="SkyscraperAdvert" /></a>
  </div>

  <br>

  <div class="col-lg-10" style="padding-top: 15px;">
    <h5 class="text-primary">Images</h5>
    <h5 class="text-primary">ISQED logos</h5>
    <div style="width:250px; float:left; margin:10px 0px opx 10px;">
      <a href="assets/img/images-for-you/ISQED_Society_logo.eps" target="_blank" download="ISQED_Society_logo.eps">ISQED_Society_logo.eps</a>
    <div style="width:529px; float: right; margin:5px -600px 0px 0px;">
      <p>This is the master logo. Adobe Illustrator (CS3) EPS file. It may be scaled up or down without loss of quality. Also contains infomation about CMYK version for printing.</p>
  </div>

  <br>
  <br>
  <br>
  <br>

  <div style="width:250px; float:left; margin:10px 0px opx 10px;">
        <a href="assets/img/images-for-you/ISQED_Society_logo_300dpi_2400px.tif" target="_blank" download="ISQED_Society_logo_300dpi_2400px.tif">ISQED_Society_logo_300dpi_2400px.tif</a>
    <div style="width:529px; float: right; margin:-25px -600px 0px 0px;">
      <p>This 9.5MB TIF file is best suited for importing into Word docs. It will scale down well.</p>
    </div>
  </div>

  <br>
  <br>
  <br>

  <div style="width:250px; float:left; margin:10px 0px opx 10px;">
        <a href="assets/img/images-for-you/ISQED_Society_logo_600px.gif" target="_blank">ISQED_Society_logo_600px.gif</a>
    <div style="width:529px; float: right; margin:0px -600px 0px 0px;">
      <p>This GIF image is 600 pixels wide. It will not scale well.</p>
    </div>
  </div>

  <br>
  <br>
  <div class="row2" style="width: 500px">
  <h5 class="text-primary">Other Images</h5>
  <p>Please contact the ISQED webmaster at <a href="mailto:Webmaster@ISQED.com">"Webmaster@ISQED.com</a></p>
  </div>
</div>
    
