<p>
  images-for-you works!
</p>
IOT_Summit_skyscraper.png
<div class="row">
    <div class="col-lg-2" style="padding-top:15px;">
        <a href="http://www.sensorcon.org" target="_blank">
        <img src="assets/img/images-of-you/IOT_Summit_skyscraper.png" alt="IoT Summit" class="SkyscraperAdvert" /></a>
    </div>

    <div class="col-lg-10" style="padding-top: 15px;">

        <h5 class="text-primary">Images</h5>

        <h5 class="text-primary">ISQED logos</h5>
        <p>The <span class="font-weight-bold"> Society for Quality Electronic Design</span>
        </p>

    </div>
</div>