.body {
    /* min-height: 1000px; */
    /* min-height: calc(100% - 120px); */
    min-height: calc(100vh - 20px - 200px)
}

#contact_us_btn {
    position: fixed;
    bottom: 125px;
    right: 25px;
}