<div class="text-center">
    <form class="example-form" [formGroup]='user_form' (submit)="onRegister()">
        <h2 class="form-group">Register Account</h2>

        <!-- First and last name -->
        <div class="row" for="first_last_name">
            <div class="col-2"></div>
            <div class="col-4" for="first_name">
                <mat-form-field class="w-100">
                    <input matInput type="text" matInput placeholder="First Name" formControlName='first_name' required>
                    <mat-icon matSuffix >account_circle</mat-icon>
                    <mat-error *ngFor="let validation of validation_messages.first_name">
                        <mat-error class="error-message"
                            *ngIf="user_form.get('first_name').hasError(validation.type) && (user_form.get('first_name').dirty || user_form.get('first_name').touched)">
                            {{validation.message}}</mat-error>
                    </mat-error>

                </mat-form-field>
            </div>

            <div class="col-4" for="last_name">
                <mat-form-field class="w-100">
                    <input matInput type="text" matInput placeholder="Last Name" formControlName='last_name' required>
                    <mat-icon matSuffix >account_circle</mat-icon>

                    <!-- error for last name -->
                    <mat-error *ngFor="let validation of validation_messages.last_name">
                        <mat-error class="error-message"
                            *ngIf="user_form.get('last_name').hasError(validation.type) && (user_form.get('last_name').dirty || user_form.get('last_name').touched)">
                            {{validation.message}}</mat-error>
                    </mat-error>

                </mat-form-field>
            </div>
        </div>

        <!-- Eamil -->
        <div class="form-group" for="email">
            <div class="row">
                <div class="col-2"></div>

                <div class="col-8">
                    <mat-form-field class="w-100">
                        <input matInput type="email" matInput placeholder="Email" formControlName='email' required>
                        <mat-icon matSuffix >email</mat-icon>

                        <!-- Error for email -->
                        <mat-error *ngFor="let validation of validation_messages.email">
                            <mat-error class="error-message"
                                *ngIf="user_form.get('email').hasError(validation.type) && (user_form.get('email').dirty || user_form.get('email').touched)">
                                {{validation.message}}</mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <!-- Password -->
        <div class="form-group" for="password">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Enter your password" [type]="hidePassword ? 'password' : 'text'"
                            formControlName='password' required>
                        <mat-icon matSuffix (click)="hideErrors = !hideErrors">
                            {{hideErrors ? 'report_off' : 'report'}}</mat-icon>
                        <mat-icon matSuffix (click)="hidePassword = !hidePassword; hideConfirm_Password = true">
                            {{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>

                    <!-- Password Strength -->
                    <mat-progress-bar mode="determinate"
                        [color]="passwordStrengthValidator.getColor(user_form.value.password)" class="bg-primary"
                        [value]="passwordStrengthValidator.getStrength(user_form.value.password)"
                        style="margin-top:-20px;"></mat-progress-bar>

                    <!-- Show errors -->
                    <div *ngIf="!hideErrors" class="text-left mt-2">
                        <!-- Lower case -->
                        <div for="lowercase">
                            <div class="d-inline text-success"
                                *ngIf="passwordStrengthValidator.passLowerCase(user_form.value.password)">
                                <mat-icon>check</mat-icon>
                                <!-- <mat-icon>close</mat-icon> -->
                                <p class="d-inline my-auto h-100">At Least 1 Lower Case Letter</p>
                            </div>

                            <div class="d-inline text-danger"
                                *ngIf="!passwordStrengthValidator.passLowerCase(user_form.value.password)">
                                <mat-icon>close</mat-icon>
                                <p class="d-inline my-auto h-100">At Least 1 Lower Case Letter</p>
                            </div>
                        </div>

                        <!-- Upper case -->
                        <div for="upper case">
                            <div class="d-inline text-success"
                                *ngIf="passwordStrengthValidator.passUpperCase(user_form.value.password)">
                                <mat-icon>check</mat-icon>
                                <!-- <mat-icon>close</mat-icon> -->
                                <p class="d-inline my-auto h-100">At Least 1 Upper Case Letter</p>
                            </div>

                            <div class="d-inline text-danger"
                                *ngIf="!passwordStrengthValidator.passUpperCase(user_form.value.password)">
                                <mat-icon>close</mat-icon>
                                <p class="d-inline my-auto h-100">At Least 1 Upper Case Letter</p>
                            </div>
                        </div>

                        <!-- Digit case -->
                        <div for="digit case">
                            <div class="d-inline text-success"
                                *ngIf="passwordStrengthValidator.passDigitCase(user_form.value.password)">
                                <mat-icon>check</mat-icon>
                                <!-- <mat-icon>close</mat-icon> -->
                                <p class="d-inline my-auto h-100">At Least 1 Number</p>
                            </div>

                            <div class="d-inline text-danger"
                                *ngIf="!passwordStrengthValidator.passDigitCase(user_form.value.password)">
                                <mat-icon>close</mat-icon>
                                <p class="d-inline my-auto h-100">At Least 1 Number</p>
                            </div>
                        </div>

                        <!-- Min Length -->
                        <div for="min length">
                            <div class="d-inline text-success"
                                *ngIf="passwordStrengthValidator.passMinLength(user_form.value.password)">
                                <mat-icon>check</mat-icon>
                                <!-- <mat-icon>close</mat-icon> -->
                                <p class="d-inline my-auto h-100">At Least 8 Characters In Length</p>
                            </div>

                            <div class="d-inline text-danger"
                                *ngIf="!passwordStrengthValidator.passMinLength(user_form.value.password)">
                                <mat-icon>close</mat-icon>
                                <p class="d-inline my-auto h-100">At Least 8 Characters In Length</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <!-- AGREEMENT -->
        <div class="row form-group">
            <div class="col-2"></div>
            <div class="col-8 text-left">
                <mat-checkbox color="primary">I read and agree to Terms & Conditions</mat-checkbox>
            </div>
        </div>

        <!-- Subcription -->
        <div class="row form-group">
            <div class="col-2"></div>
            <div class="col-8 text-left">
                <mat-checkbox color="primary">Subcription</mat-checkbox>
            </div>
        </div>

        <!-- Register Account -->
        <div class="form-group" for="sign_up_btn">
            <button mat-raised-button class="btn-lg text-white" color="primary">Register Account</button>
        </div>

        <!-- Forgot password -->
        <div class="form-group">
            <a href [routerLink]="['/signin/forgot_password']">Forgot Password?</a>
        </div>

        <!-- Sign in -->
        <div class="form-group">
            <a href [routerLink]="['/signin']">Already Had Account With Us?</a>
        </div>


    </form>
</div>

<ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>