<h5 class="text-primary">Training Calendar</h5>
<hr>
<div style="display: flex; justify-content: center">
    <table style=" width: 50%; text-align: center" class="table">
        <thead>
            <tr>
                <th class="bg-secondary" scope="col">Upcoming Training Courses</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="bg-success" scope="row"><a href="#">3D Packaging Technology</a></th>

            </tr>
            <tr>
                <th class="bg-primary" scope="row">Coming Soon</th>

            </tr>
            <tr>
                <th class="bg-success" scope="row">Coming Soon</th>
            </tr>
            <tr>
                <th class="bg-primary" scope="row">Coming Soon</th>
            </tr>
        </tbody>
    </table>
</div>