<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="row">
  <div class="col-4">1</div>
  <div class="col-4">2</div>
  <div class="col-4">
    
    <img class="w-50" src="../../../../assets/img/events/ISQED_Symposium_logo_2019 .svgz">
    <img class="w-50" src="../../../../assets/img/events/ASQED2012-Symposium-logo-125px.jpg">
    <img class="w-50" src="../../../../assets/img/events/IEDEC_logo.png">
    <img class="w-50" src="../../../../assets/img/events/Sensorscon_logo.png">
    <img class="w-50" src="../../../../assets/img/events/ISETC_logo_125px.jpg">

    <!-- <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>

    <button type="button" class="btn btn-link">Link</button> -->

  </div>
</div>