<div class="row">
    <div class="col-lg-4 text-center form-group">
        <!-- Get Email Update</button> -->
        <button mat-raised-button  class="bg-primary text-white">
            <mat-icon aria-label="">email</mat-icon> Get Email Update
        </button>
    </div>

    <div class="col-lg-4 form-group">
        <div class="ml-4">
            <p>The International Society for Quality Electronic Design (ISQED), is an international professional
                organization
                promoting innovations and "Quality" in design of micro, nano, and bio electronic, and electro-mechanical
                devices,
                circuits, and systems.
            </p>
            <a href="https://twitter.com/ISQED" class="text-left">
                <i class="fab fa-twitter" style="font-size:48px;"></i>
            </a>
        </div>
    </div>

    <div class="col-lg-4 form-group">
        <h4 class="text-center text-primary form-group">Upcoming ISQED Events</h4>

        <div class="row form-group">
            <img class="mx-auto d-block w-50" style="height: 100px;"
                src="assets/img/events/ISQED_Symposium_logo_2019 .svgz">
        </div>

        <div class="row form-group">
            <img class="mx-auto d-block w-50" style="height: 100px;" src="assets/img/events/IEDEC_logo.png">
        </div>

        <div class="row form-group">
            <img class="mx-auto d-block w-50" style="height: 100px;" src="assets/img/events/Sensorscon_logo.png">
        </div>

        <div class="row form-group">
            <img class="mx-auto d-block w-50" style="height: 100px;"
                src="assets/img/events/ASQED2012-Symposium-logo-125px.jpg">
        </div>

        <div class="row form-group">
            <img class="mx-auto d-block w-50" style="height: 100px;" src="assets/img/events/ISETC_logo_125px.jpg">
        </div>

    </div>