<div class="container">

  <div class="row">

    <div class="mt-8 col-2 sidebar w-auto">

      <div class="list-group" id="list-tab" role="tablist">

        <a class="list-group-item list-group-item-action" id="list-curriculum-list" data-toggle="list"
          href="#curriculum" role="tab" aria-controls="curriculum" (click)="toComponent('curriculum')">Our
          Curriculum</a>

        <a class="list-group-item list-group-item-action" id="list-fullstack-list" data-toggle="list" href="#fullstack"
          role="tab" aria-controls="fullstack" (click)="toComponent('fullstack')">What's a Full
          Stack?</a>


        <a class="list-group-item list-group-item-action" id="list-learn-list" data-toggle="list" href="#learn"
          role="tab" aria-controls="learn" (click)="toComponent('learn')">Why Learn Full Stack with Coding Dojo?</a>


        <a class="list-group-item list-group-item-action" id="list-structure-list" data-toggle="list" href="#structure"
          role="tab" aria-controls="structure" (click)="toComponent('structure')">Curriculum
          Structure</a>


        <a class="list-group-item list-group-item-action" id="list-history-list" data-toggle="list" href="#history"
          role="tab" aria-controls="history" (click)="toComponent('history')">Curriculum History</a>


        <a class="list-group-item list-group-item-action" id="list-alumni-list" data-toggle="list" href="#alumni"
          role="tab" aria-controls="alumni" (click)="toComponent('alumni')">Where our Alumni Work?</a>


        <a class="list-group-item list-group-item-action" id="list-recognitions-list" data-toggle="list"
          href="#recognitions" role="tab" aria-controls="recognitions" (click)="toComponent('recognitions')">Recognitions</a>


        <a class="list-group-item list-group-item-action" id="list-resources-list" data-toggle="list" href="#resources"
          role="tab" aria-controls="resources" (click)="toComponent('resources')">Additional Resources</a>

      </div>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="curriculum">

      <h2>Coding Dojo Teaches 2019's Most In-demand Programming Languages</h2>
      <p>We teach five of the top programming languages ranked in TIOBE Index - the popularity rating of programming
        languages based on the number of skilled web developers/engineers worldwide, and queries from top search
        engines. You will be equipped with the most in-demand skills to stand out on the web development job market.
      </p>

      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/java.png"
        alt="Web Development with Java">
      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/python.png"
        alt="Web Development with Python">
      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/net_core.png"
        alt="Web Development with C#Net">
      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/mean.png"
        alt="Web Development with Mean">
      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/ruby.png"
        alt="Web Development with Ruby">

    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="fullstack">

      <h3>What's a Full Stack?</h3>
      <p>MEAN Stack is composed of multiple technologies using the JavaScript programming language. One of the
        paramount
        advantages of using the MEAN stack is the ability to use one programming language from the front-end
        framework)
        to the backend server and on to the database. Valued for its versatility in building fast, robust and
        maintainable production web applications, a MEAN stack developer is in high demand with numerous startups
        and
        employers. Our MEAN web development course includes learning about the following technologies: MongoDB,
        Express,
        Angular, and Node. Learn More</p>

      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/java.png"
        alt="Web Development with Java">
      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/python.png"
        alt="Web Development with Python">
      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/net_core.png"
        alt="Web Development with C#Net">
      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/mean.png"
        alt="Web Development with Mean">
      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/ruby.png"
        alt="Web Development with Ruby">

    </div>


    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="learn">

      <h2>WHY LEARN FULL STACK WITH CODING DOJO?</h2>

      <p>We provide the tech industry's most extensive web development courses. We focus on teaching full stacks to
        help
        ensure that you are prepared to work on a different level of the development process. We are proud to say
        that
        Coding Dojo is the only coding school that teaches three full stacks!
      </p>

      <img src="https://assets.codingdojo.com/new_design_image/curriculum_overview/top_coding_bootcamp_award.png"
        alt="Coding Dojo, Top Web Development Bootcamp">

      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/java.png"
        alt="Web Development with Java">
      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/python.png"
        alt="Web Development with Python">
      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/net_core.png"
        alt="Web Development with C#Net">
      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/mean.png"
        alt="Web Development with Mean">

    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="structure">

      <h5>Structure</h5>

      <p>Since 2008, we've constantly refined our web development
        courses and have trained thousands of students.
        Today, we provide you with a veteran and dynamic curriculum, that is proven to work as the most effective
        approach
        to training both experienced developers and students new to coding. Here is a placeholder for curriculum
        structure. Here is a placeholder for curriculum structure. Here is a placeholder for curriculum structure. Here
        is a placeholder for curriculum structure. Here is a placeholder for curriculum structure. Here is a placeholder
        for curriculum structure. Here is a placeholder for curriculum structure. Here is a placeholder
        for curriculum structure. Here is a placeholder for curriculum structure. Here is a placeholder
        for curriculum structure.
      </p>

      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/java.png"
        alt="Web Development with Java">
      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/python.png"
        alt="Web Development with Python">
      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/net_core.png"
        alt="Web Development with C#Net">
      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/mean.png"
        alt="Web Development with Mean">
      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/ruby.png"
        alt="Web Development with Ruby">

    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="history">

      <h5>History</h5>

      <p>We used to teach a single stack for over three months. Then, we got it down to nine weeks and, ultimately,
        down to four weeks. Thanks to our custom Learning Platform and evolving teaching methodology. We used to teach a
        single stack for over three months. Then, we got it down to nine weeks and, ultimately,
        down to four weeks. Thanks to our custom Learning Platform and evolving teaching methodology. We used to teach a
        single stack for over three months. Then, we got it down to nine weeks and, ultimately,
        down to four weeks. Thanks to our custom Learning Platform and evolving teaching methodology. We used to teach a
        single stack for over three months. Then, we got it down to nine weeks and, ultimately,
        down to four weeks. Thanks to our custom Learning Platform and evolving teaching methodology. We used to teach a
        single stack for over three months. Then, we got it down to nine weeks and, ultimately,
        down to four weeks. Thanks to our custom Learning Platform and evolving teaching methodology.
      </p>

      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/java.png"
        alt="Web Development with Java">
      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/python.png"
        alt="Web Development with Python">
      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/net_core.png"
        alt="Web Development with C#Net">
      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/mean.png"
        alt="Web Development with Mean">
      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/ruby.png"
        alt="Web Development with Ruby">

    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="alumni">

      <h5>Alumni</h5>

      <p>Here is a placeholder for Alumni information. Here is a placeholder for Alumni information. Here is a
        placeholder for Alumni information.
        Here is a placeholder for Alumni information. Here is a placeholder for Alumni information. Here is a
        placeholder for Alumni information. Here is a placeholder for Alumni information.
        Here is a placeholder for Alumni information. Here is a placeholder for Alumni information. Here is a
        placeholder for Alumni information. Here is a placeholder for Alumni information.
        Here is a placeholder for Alumni information. Here is a placeholder for Alumni information. Here is a
        placeholder for Alumni information. Here is a
        placeholder for Alumni information.
        Here is a placeholder for Alumni information. Here is a placeholder for Alumni information. Here is a
        placeholder for Alumni information. Here is a placeholder for Alumni information.
        Here is a placeholder for Alumni information. Here is a placeholder for Alumni information. Here is a
        placeholder for Alumni information. Here is a placeholder for Alumni information.
        Here is a placeholder for Alumni information.
      </p>

      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/java.png"
        alt="Web Development with Java">
      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/python.png"
        alt="Web Development with Python">
      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/net_core.png"
        alt="Web Development with C#Net">
      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/mean.png"
        alt="Web Development with Mean">
      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/ruby.png"
        alt="Web Development with Ruby">

    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="recognitions">

      <h5>Recognitions</h5>

      <p>Here is a placeholder for Recognitions. Here is a placeholder for Recognitions. Here is a placeholder for
        Recognitions. Here is a placeholder for Recognitions.
        Here is a placeholder for Recognitions. Here is a placeholder for Recognitions. Here is a placeholder for
        Recognitions. Here is a placeholder for Recognitions. Here is a placeholder for Recognitions. Here is a
        placeholder for
        Recognitions. Here is a placeholder for Recognitions. Here is a placeholder for Recognitions. Here is a
        placeholder for Recognitions. Here is a placeholder for Recognitions. Here is a placeholder for
        Recognitions. Here is a placeholder for Recognitions.
        Here is a placeholder for Recognitions. Here is a placeholder for Recognitions. Here is a placeholder for
        Recognitions. Here is a placeholder for Recognitions. Here is a placeholder for Recognitions. Here is a
        placeholder for
        Recognitions. Here is a placeholder for Recognitions. Here is a placeholder for Recognitions.
      </p>

      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/java.png"
        alt="Web Development with Java">
      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/python.png"
        alt="Web Development with Python">
      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/net_core.png"
        alt="Web Development with C#Net">
      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/mean.png"
        alt="Web Development with Mean">
      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/ruby.png"
        alt="Web Development with Ruby">

    </div>

    <div class="col-sm-9 main" id="resources">

      <h5>ADDITIONAL RESOURCES</h5>

      <p>Here is a placeholder for additional resources. Here is a placeholder for additional resources. Here is a
        placeholder for additional resources.
        Here is a placeholder for additional resources. Here is a placeholder for additional resources. Here is a
        placeholder for additional resources. Here is a placeholder for additional resources.
        Here is a placeholder for additional resources. Here is a placeholder for additional resources. Here is a
        placeholder for additional resources.
        Here is a placeholder for additional resources. Here is a placeholder for additional resources. Here is a
        placeholder for additional resources. Here is a placeholder for additional resources.

      </p>

      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/java.png"
        alt="Web Development with Java">
      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/python.png"
        alt="Web Development with Python">
      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/net_core.png"
        alt="Web Development with C#Net">
      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/mean.png"
        alt="Web Development with Mean">
      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/ruby.png"
        alt="Web Development with Ruby">
    </div>

  </div>