<div class="container">

  <div class="row">

    <div class="col-2 sidebar">
      <div class="list-group" id="list-tab" role="tablist">
        <ul class="nav nav-sidebar">
          <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
            href="#list-home" role="tab" aria-controls="home">Our Curriculum</a>
          <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
            href="#list-profile" role="tab" aria-controls="profile">Best Curriculum</a>
          <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
            href="#list-messages" role="tab" aria-controls="messages">What's a Full Stack?</a>
          <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
            href="#list-settings" role="tab" aria-controls="settings">Curriculum Structure</a>
          <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
            href="#list-settings" role="tab" aria-controls="settings">Curriculum History</a>
          <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
            href="#list-settings" role="tab" aria-controls="settings">Where our Alumni Work?</a>
          <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
            href="#list-settings" role="tab" aria-controls="settings">Recognitions</a>
          <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
            href="#list-settings" role="tab" aria-controls="settings">Additional Resources</a>
        </ul>
      </div>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <h2>Coding Dojo Teaches 2019's Most In-demand Programming Languages</h2>
      <p>We teach five of the top programming languages ranked in TIOBE Index - the popularity rating of programming
        languages based on the number of skilled web developers/engineers worldwide, and queries from top search
        engines. You will be equipped with the most in-demand skills to stand out on the web development job market.
      </p>

      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/java.png"
        alt="Web Development with Java">
      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/python.png"
        alt="Web Development with Python">
      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/net_core.png"
        alt="Web Development with C#Net">
      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/mean.png"
        alt="Web Development with Mean">
      <img src="https://cutecdn.codingdojo.com/new_design_image/global/icon/stacks/ruby.png"
        alt="Web Development with Ruby">

      <h3>What is Mean?</h3>
      <p>MEAN Stack is composed of multiple technologies using the JavaScript programming language. One of the paramount
        advantages of using the MEAN stack is the ability to use one programming language from the front-end framework)
        to the backend server and on to the database. Valued for its versatility in building fast, robust and
        maintainable production web applications, a MEAN stack developer is in high demand with numerous startups and
        employers. Our MEAN web development course includes learning about the following technologies: MongoDB, Express,
        Angular, and Node. Learn More</p>


    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <h2>WHY LEARN FULL STACK WITH CODING DOJO?</h2>

      <p>We provide the tech industry's most extensive web development courses. We focus on teaching full stacks to help
        ensure that you are prepared to work on a different level of the development process. We are proud to say that
        Coding Dojo is the only coding school that teaches three full stacks!
      </p>

      <img src="https://assets.codingdojo.com/new_design_image/curriculum_overview/top_coding_bootcamp_award.png"
        alt="Coding Dojo, Top Web Development Bootcamp">

    </div>


    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <h5>10 - YEARS REFINED CURRICULUM</h5>

      <p>Since 2008, we've constantly refined our web development courses and have trained thousands of students. Today,
        we provide you with a veteran and dynamic curriculum, that is proven to work as the most effective approach to
        training both experienced developers and students new to coding.
      </p>

    </div>



    <div class="col-3">

      <h5>EFFECTIVE COURSE CONTENT</h5>

      <p>We used to teach a single stack for over three months. Then, we got it down to nine weeks and, ultimately, down
        to four weeks. Thanks to our custom Learning Platform and evolving teaching methodology.
      </p>
    </div>
    <div class="col-3">

      <h5>CAREER ORIENTED LEARNING</h5>

      <p>Learning full stacks opens to a lot of software and web development career opportunities. We will work with you
        to identify your strengths and provide a wide range of career services that put you on a path towards your
        desired career. Learn More</p>
    </div>



  </div>