<h3 class="text-primary form-group">Copyright Notice</h3>
<h5 class="font-weight-bold form-group text-primary">Specifications/features may change without notice</h5>

<p class="form-group">Copyright © 1998-2018 by the <strong>International Society for Quality Electronic Design</strong> (ISQED), Los Altos, CA, USA. All rights
reserved. Created in USA. The ISQED logo and the <strong>International Symposium for Quality Electronic Design</strong> (also ISQED) logo
are trademarks of the ISQED. Other features/product names mentioned are trademarks of the ISQED or other
vendors/manufacturers.
</p>

<p class="form-group">Photography, illustration, video, audio and text incorporated into ISQED online documents and publications are copyright protected by the ISQED or other owners and/or representatives. Downloading, screen capturing or copying these items in any manner for any use other than personally viewing the original document in its entirety is prohibited by copyright law.
</p>

<h5 class="font-weight-bold form-group text-primary">Notice to Government End Users</h5>

<p class="form-group">ISQED software and documentation are provided with restricted rights. Use, duplication or disclosure by the Government is subject to the restrictions set forth in FAR 52.227-19 and subparagraph (c)(1)(ii) of Rights in Technical Data and Computer Software clause at DFARS 252.227-7013.
    </p>