<!-- <p>
  conferences-home works!
</p> -->
<h1>Why attend ISQED?</h1>
<p>The International Symposium on Quality Electronic Design (ISQED) is the premier Electronic Design conference—bridges the gap between Electronic/Semiconductor ecosystem members providing electronic design tools, integrated circuit technologies, semiconductor technology,packaging, assembly & test to achieve total design quality. ISQED is the leading conference for design for manufacturability (DFM) and quality (DFQ) issues. It provides a forum to exchange ideas and promote research, development, and application of design techniques & methods, design processes, and EDA design methodologies and tools that address issues which impact the quality of designs into physical integrated circuits. ISQED emphasizes a holistic approach toward design quality to highlight and accelerate cooperation among the IC Design, EDA, Semiconductor Process Technology and Manufacturing communities.</p>
<br>
<br>
<p>This important three-day event is packed full of tutorials, keynote speeches, panel discussions, and in-depth technical sessions. The program will also feature the following:</p>
<br>
<br>
<ul>
  <li>Embedded information-packed tutorials</li>
  <li>Keynotes by major industry & academia leaders and experts</li>
  <li>Latest trends in electronic design & automation, and semiconductor technologies</li>
  <li>Interact & network with the Experts and industry movers and shakers</li>
</ul>