<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-2 text-center">
        <img class="w-75" src="assets/img/contacts/svpti_skyscraper.png" alt="SVPTI" class="SkyscraperAdvert" />
    </div>

    <div class="col-lg-9">
        <div class="ml-4">
            <h5 class="text-primary">Contact Us</h5>
            <h5 class="text-primary">ISQED</h5>
            <p><br>P.O. BOX 607
                <br>Los Altos, CA 94023-0607
                <br>
                <br>Tel:+1.408.573.0100
                <br>Fax: +1.408.573.0200 and
                <br>eFAX: +1.408.516.8228
                <br><a href="mailto: info@ISQED.com">Email: info@ISQED.com</a>
            </p>
        </div>
    </div>
</div>