.view {
  background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.navbar {
  background-color: transparent;
}

.authentication-buton {
  background-color: transparent ;
}

.top-nav-collapse {
  background-color: #4285f4;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #4285f4;
  }

  .authentication-buton {
    background-color: #4285f4;
  }
}
