<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-xl-2 col-lg-2 col-md-2 d-none d-md-block d-lg-block d-xl-block text-center form-group">
        <img class="w-75" src="assets/img/membership/IOT_Summit_skyscraper.png" alt="ISQED" class="SkyscraperAdvert" />
    </div>

    <div class="col-xl-8 col-lg-8 col-md-8" style="padding-top: 15px;">
        <div style="border-left:1px solid black; padding: 20px; "class="ml-4">
            <h5 class="text-primary">Training Certification</h5> 
            <p>ISQED training certification board consisting of industry members, audits, approves
              and certifies training programs to ensure suitability to the idustry needs and job
              market requirements.
            </p> 

            <h5><a style="color: green" href="https://www.svpti.com/">Certified Programs</a></h5>

           

        </div>
    </div>
</div>
